@forward './hero';
@forward './brand';
@forward './service';
@forward './project';
@forward './award';
@forward './team';
@forward './about';
@forward './gallery';
@forward './cta';
@forward './contact';
@forward './social';
@forward './funfact';
@forward './liko-dark';
@forward './tp_custom';
@forward './error';
